body {
    margin: 0;
    padding: 0;
    background-image: url('barbie.jpg'); /* Replace 'barbie-background.jpg' with the actual path to your Barbie background image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for better readability */
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #ff69b4; /* Barbie pink color */
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #ff69b4; /* Barbie pink color */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d94093; /* Darker pink on hover */
}
